services:
  sd_postgres:
    container_name: sd-db
    image: postgres:14
    restart: always
    ports:
      - '7432:${POSTGRES_PORT_SD}'
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_SD}
      POSTGRES_USER: ${POSTGRES_USER_SD}
      POSTGRES_DB: ${POSTGRES_DB_SD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./tmp/pgdata:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'pg_isready -d $${POSTGRES_DB_SD} -U $${POSTGRES_USER_SD}',
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - back

  sd_server:
    container_name: sd-server
    image: sd-server
    build:
      context: .
      dockerfile: Dockerfile.server
      args:
        SERVER_PORT_SD: ${SERVER_PORT_SD}
    restart: always
    ports:
      - '${SERVER_PORT_SD}:${SERVER_PORT_SD}'
    environment:
      CLIENT_PORT_SD: ${CLIENT_PORT_SD}
      SERVER_PORT_SD: ${SERVER_PORT_SD}
      SERVER_HOST_SD: ${SERVER_HOST_SD}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_SD}
      POSTGRES_USER: ${POSTGRES_USER_SD}
      POSTGRES_DB: ${POSTGRES_DB_SD}
      POSTGRES_PORT: ${POSTGRES_PORT_SD}
      POSTGRES_HOST: ${POSTGRES_HOST_SD}
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL_SD}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD_SD}
      PGADMIN_LISTEN_PORT: ${PGADMIN_LISTEN_PORT_SD}
      SECRET_KEY_SD: ${SECRET_KEY_SD}
      FILE_PATH_SD: ${FILE_PATH_SD}
      EMAIL_HOST_SD: ${EMAIL_HOST_SD}
      EMAIL_PORT_SD: ${EMAIL_PORT_SD}
      EMAIL_USER_SD: ${EMAIL_USER_SD}
      EMAIL_PASSWORD_SD: ${EMAIL_PASSWORD_SD}
    depends_on:
      - sd_postgres
    volumes:
      - ./packages/server/Files:/${FILE_PATH_SD}
    networks:
      - back

  sd_pgadmin:
    container_name: sd-pgadmin
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL_SD}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD_SD}
      PGADMIN_LISTEN_PORT: 5051
    ports:
      - '5051:5051'
    volumes:
      - ./tmp/pgadmin:/var/lib/pgadmin
    depends_on:
      sd_postgres:
        condition: service_healthy
    networks:
      - back

networks:
  back:
    driver: bridge
